.main {
  border-top: 2px solid #222;
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 0;
  position: relative;
}

.main > img {
  width: 60px;
  height: 90px;
}

.info {
  position: absolute;
  top: 20px;
  left: 70px;
}

.info > p {
  margin-bottom: 0;
  color: gray;
}

.info > p:nth-child(1) {
  font-size: 16px;
  color: white;
}

.action {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 10px;
}

.action > div {
  text-align: right;
}

.icon_close:hover {
  color: white;
}
